<html>
  <head>
    <title>Dog</title>
  </head>
  <body>
    <h1><%= @dog %></h1>
    <form action="confirm_dog" method="POST">
      <textarea name="name" rows="1"></textarea>
        <input type="submit" value="send">
    </form>
  </body>
</html>
